../.metadata/
../.project
../.settings/
../README.md
../RemoteSystemsTempFiles/
../bundle/.classpath
../bundle/.project
../bundle/.settings/
../bundle/target/
.classpath
.project
.settings/
target/
.metadata/
*/.metadata/
README.md
aem/**/.vlt
.vlt
*/.vlt
/.vlt
.DS_Store
